<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>testi</servlet-name>
        <servlet-class>Tietokanta.testi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lista</servlet-name>
        <servlet-class>Tietokanta.Lista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaServlet</servlet-name>
        <servlet-class>Tietokanta.Lista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Tietokanta.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>Tietokanta.NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet2</servlet-name>
        <servlet-class>Tietokanta.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Yhteys1</servlet-name>
        <servlet-class>Yhteys1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet3</servlet-name>
        <servlet-class>NewServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Testi</servlet-name>
        <servlet-class>Tietokantayhteydet.Testi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aaa</servlet-name>
        <servlet-class>Tietokanta.aaa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uusi</servlet-name>
        <servlet-class>Tietokanta.uusi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>L</servlet-name>
        <servlet-class>L</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Testaus</servlet-name>
        <servlet-class>TKY.Testaus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JOTAIN</servlet-name>
        <servlet-class>TKY.JOTAIN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NS</servlet-name>
        <servlet-class>NS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YhteysTesti</servlet-name>
        <servlet-class>Servlets.YhteysTesti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kirjautuminen</servlet-name>
        <servlet-class>Servlets.Kirjautuminen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjautuminenUlos</servlet-name>
        <servlet-class>Servlets.KirjautuminenUlos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testi</servlet-name>
        <url-pattern>/testi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lista</servlet-name>
        <url-pattern>/Lista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaServlet</servlet-name>
        <url-pattern>/ListaS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet2</servlet-name>
        <url-pattern>/NewServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Yhteys1</servlet-name>
        <url-pattern>/Yhteys1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet3</servlet-name>
        <url-pattern>/NewServlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Testi</servlet-name>
        <url-pattern>/Testi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aaa</servlet-name>
        <url-pattern>/aaa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uusi</servlet-name>
        <url-pattern>/uusi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>L</servlet-name>
        <url-pattern>/L</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Testaus</servlet-name>
        <url-pattern>/Testaus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JOTAIN</servlet-name>
        <url-pattern>/JOTAIN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NS</servlet-name>
        <url-pattern>/NS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YhteysTesti</servlet-name>
        <url-pattern>/YhteysTesti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kirjautuminen</servlet-name>
        <url-pattern>/Kirjautuminen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjautuminenUlos</servlet-name>
        <url-pattern>/KirjautuminenUlos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
