<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Kirjautuminen</servlet-name>
        <servlet-class>Servlets.Kirjautuminen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YhteysTesti</servlet-name>
        <servlet-class>Servlets.YhteysTesti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListausServlet</servlet-name>
        <servlet-class>Servlets.ListausServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AskareServlett</servlet-name>
        <servlet-class>Servlets.AskareServlett</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AskareServlet</servlet-name>
        <servlet-class>Servlets.AskareServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LuokkaListausServlet</servlet-name>
        <servlet-class>Servlets.LuokkaListausServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LuokkaServlet</servlet-name>
        <servlet-class>Servlets.LuokkaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TarkeysListausServlet</servlet-name>
        <servlet-class>Servlets.TarkeysListausServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TarkeysServlet</servlet-name>
        <servlet-class>Servlets.TarkeysServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaLuokka</servlet-name>
        <servlet-class>Servlets.LisaaLuokka</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaTarkeys</servlet-name>
        <servlet-class>Servlets.LisaaTarkeys</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuokkaaLuokkaa</servlet-name>
        <servlet-class>Servlets.MuokkaaLuokkaa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuokkaaLuokkaa2</servlet-name>
        <servlet-class>Servlets.MuokkaaLuokkaa2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoistaLuokka</servlet-name>
        <servlet-class>Servlets.PoistaLuokka</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoistaTarkeys</servlet-name>
        <servlet-class>Servlets.PoistaTarkeys</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuokkaaTarkeytta</servlet-name>
        <servlet-class>Servlets.MuokkaaTarkeytta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuokkaaTarkeytta2</servlet-name>
        <servlet-class>Servlets.MuokkaaTarkeytta2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoistaAskare</servlet-name>
        <servlet-class>Servlets.PoistaAskare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaAskare</servlet-name>
        <servlet-class>Servlets.LisaaAskare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaAskareApu</servlet-name>
        <servlet-class>Servlets.LisaaAskareApu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Kirjautuminen</servlet-name>
        <url-pattern>/Kirjautuminen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YhteysTesti</servlet-name>
        <url-pattern>/YhteysTesti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListausServlet</servlet-name>
        <url-pattern>/Etusivu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AskareServlett</servlet-name>
        <url-pattern>/AskareServlett</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AskareServlet</servlet-name>
        <url-pattern>/AskareServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LuokkaListausServlet</servlet-name>
        <url-pattern>/LuokkaListausServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LuokkaServlet</servlet-name>
        <url-pattern>/LuokkaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TarkeysListausServlet</servlet-name>
        <url-pattern>/TarkeysListausServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TarkeysServlet</servlet-name>
        <url-pattern>/TarkeysServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaLuokka</servlet-name>
        <url-pattern>/LisaaLuokka</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaTarkeys</servlet-name>
        <url-pattern>/LisaaTarkeys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuokkaaLuokkaa</servlet-name>
        <url-pattern>/MuokkaaLuokkaa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuokkaaLuokkaa2</servlet-name>
        <url-pattern>/MuokkaaLuokkaa2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoistaLuokka</servlet-name>
        <url-pattern>/PoistaLuokka</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoistaTarkeys</servlet-name>
        <url-pattern>/PoistaTarkeys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuokkaaTarkeytta</servlet-name>
        <url-pattern>/MuokkaaTarkeytta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuokkaaTarkeytta2</servlet-name>
        <url-pattern>/MuokkaaTarkeytta2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoistaAskare</servlet-name>
        <url-pattern>/PoistaAskare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaAskare</servlet-name>
        <url-pattern>/LisaaAskare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaAskareApu</servlet-name>
        <url-pattern>/LisaaAskareApu</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
